<% include partials/header%>
	
<br/>
<div style="margin-top:100px">
<h1>
	Landing page!
</h1>
<p>
	Welcome to YelpCamp
</p>
<a href="/campground">view all campground</a>
</div>
<% include partials/footer%>